body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

/* This is a single-line comment */
p {
  color: red;
}

#para1 {
  text-align: center;
  color: red;
}

<h1 style="background-color:DodgerBlue;">Hello World</h1>
<p style="background-color:Tomato;">Lorem ipsum...</p>
